[submodule "middleware"]
	path = middleware
	url = https://github.com/zjl-git/middleware.git
[submodule "periperals"]
	path = periperals
	url = https://github.com/zjl-git/peripherals.git
[submodule "project/esp32/esp32_driver"]
	path = project/esp32/esp32_driver
	url = https://github.com/zjl-git/esp32_driver.git
