[submodule "sdk/platform/esp-idf"]
	path = sdk/platform/esp-idf
	url = https://github.com/espressif/esp-idf.git
[submodule "project/esp32/esp32_driver"]
	path = project/esp32/esp32_driver
	url = https://github.com/zjl-git/esp32_driver.git
[submodule "project/stm32/stm32f1_driver"]
	path = project/stm32/stm32f1_driver
	url = https://github.com/zjl-git/stm32f1_driver.git
[submodule "project/stm32/stm32f4_driver"]
	path = project/stm32/stm32f4_driver
	url = https://github.com/zjl-git/stm32f4_driver.git
[submodule "project/nrf52/nrf52_driver"]
	path = project/nrf52/nrf52_driver
	url = https://github.com/zjl-git/nrf52_driver.git
